.card {
    background: white;
    border-radius: 2px;
    /* height: 325px; */
    margin: 0 auto;
    position: relative;
    width: 325px;


}

.card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
}

.card > .img-container > img {
    width: 90%
}
.card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }

.card > .remove {
    color: grey;
    font-size: 30px;
    position: absolute;
    top: -20px;
    right: 5px;
    cursor: pointer;
  }
  
  .card > .remove:hover {
    color: #d50000;
  }
  
  @media (min-width: 768px) {
    .card {
      width: 33.33%;
      float: left;
    }
  }